@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* 10px / 16px = 62.5% -> 1rem = 10px; */
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fff;
    background: linear-gradient(205.28deg, #9b42da 1.29%, #51509c 58.42%);
    /* background-size: auto 100%; */
}

/*----------------*/
/* CONTAINER */
/*----------------*/
.container {
    width: 100%;
    height: 100vh;
    background: url(./img/svg2.svg), url(./img/svg1.svg);
    background-size: cover;
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content minmax(min-content, 60vh) 1fr;
}

/*----------------*/
/* NAV */
/*----------------*/
.nav {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: center;
}

.nav__logo {
    font-size: 5rem;
    font-weight: 400;
    margin-top: -1.6rem;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.nav__menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link:link,
.nav__link:visited {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 200;
    transition: all 0.4s;
}

.nav__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.3s linear;
}

.nav__link:hover::after {
    width: 100%;
}

/*----------------*/
/* HERO */
/*----------------*/
.hero {
    display: grid;
    grid-column: 1 / -1;
}

.hero__content {
    align-self: center;
    grid-column: 1 / 4;
}

.hero__heading {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}

.hero__subheading {
    margin-top: 4rem;
    font-weight: 200;
    max-width: 60%;
}

.hero__button {
    margin-top: 4rem;
    padding: 0 4rem;
    width: 40rem;
    height: 7.2rem;
    background-color: #fff;
    border-radius: 10rem;
    text-decoration: none;
    color: #43484d;
    transition: all 0.3s;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__button:active {
    transform: translateY(0.1rem);
}

.hero__button:active .hero__arrow {
    transform: translateX(1rem);
}

.hero__button::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.hero__button:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}

.hero__arrow {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.hero__illustration {
    align-content: center;
    grid-column: 4 / 8;

    display: grid;
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(6, min-content);
}

.hero__illustration--1 {
    grid-column: 1 / 4;
    grid-row: 1 / 6;
    transition: all 0.4s;
}

.hero__illustration--2 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    align-self: center;
    justify-self: center;
    transition: all 0.4s;
}

.hero__illustration:hover > .hero__illustration--1 {
    transform: translate(2rem, 1rem);
}

.hero__illustration:hover > .hero__illustration--2 {
    transform: translate(-2rem, -1rem);
}

.hero__navigation {
    grid-column: 5 / 6;
    transition: all 1s;
}

.navigation__button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: absolute;

    transition: all 0.2s ease;
}

.navigation__icon {
    width: 2.5rem;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 2.2rem;
    margin-left: 1rem;
    display: inline-block;
    z-index: 10;
    transition: all 0.2s ease;
}

.navigation__icon--left::after,
.navigation__icon--left::before,
.navigation__icon--right::after,
.navigation__icon--right::before {
    content: '';
    width: 1.5rem;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    position: absolute;
    transition: all 0.5s ease;
}

.navigation__icon--left::after {
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    transform: rotate(45deg);
}

.navigation__icon--left::before {
    margin-top: -0.5rem;
    margin-left: -0.2rem;
    transform: rotate(-45deg);
}

.navigation__icon--right::after {
    margin-top: 0.5rem;
    margin-left: 1.3rem;
    transform: rotate(135deg);
}

.navigation__icon--right::before {
    margin-top: -0.5rem;
    margin-left: 1.3rem;
    transform: rotate(-135deg);
}

.navigation__button:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(255, 255, 255, 0.85);
}

.navigation__button:active {
    transform: translateY(0.1rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
}

.navigation__button:hover .navigation__icon--left::before {
    transform: rotate(140deg);
}

.navigation__button:hover .navigation__icon--left::after {
    transform: rotate(-140deg);
}

.navigation__button:hover .navigation__icon--right::before {
    transform: rotate(40deg);
}

.navigation__button:hover .navigation__icon--right::after {
    transform: rotate(-40deg);
}

/*----------------*/
/* FOOTER */
/*----------------*/

.footer__social {
    list-style: none;
    display: flex;
}

.footer__items {
    width: 4rem;
    height: auto;
    filter: invert(1);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.footer__items:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer__items:active {
    transform: scale(1);
}

.footer {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
}

.footer__copy {
    color: #b3cbe0;
    font-weight: 200;
    align-self: flex-end;
}

.footer__copy > span {
    color: #fff;
    font-weight: 300;
}

/*----------------*/
/* MENU NAVIGATION */
/*----------------*/

.menu__checkbox {
    display: none;
}

.menu__btn {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
    .menu__btn {
        top: 4rem;
        right: 4rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .menu__btn {
        top: 3rem;
        right: 3rem;
    }
}

.menu__background {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#9b42da, #51509c);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
    .menu__background {
        top: 4.5rem;
        right: 4.5rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .menu__background {
        top: 3.5rem;
        right: 3.5rem;
    }
}

.menu__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu__list {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.menu__item {
    margin: 4rem;
}

.menu__link:link,
.menu__link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
    );
    background-size: 250%;
    transition: all 0.5s;
}

.menu__link:hover,
.menu__link:active {
    background-position: 100%;
    color: #51509c;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
}

.menu__checkbox:checked ~ .menu__background {
    transform: scale(80);
}

.menu__checkbox:checked ~ .menu__nav {
    opacity: 100;
    width: 100%;
}

.menu__icn {
    position: relative;
    margin-top: 3rem;
}
.menu__icn,
.menu__icn::before,
.menu__icn::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block;
}
.menu__icn::before,
.menu__icn::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.menu__icn::before {
    top: -0.8rem;
}
.menu__icn::after {
    top: 0.8rem;
}

.menu__btn:hover .menu__icn::before {
    top: -1rem;
}

.menu__btn:hover .menu__icn::after {
    top: 1rem;
}

.menu__checkbox:checked + .menu__btn .menu__icn {
    background-color: transparent;
}

.menu__checkbox:checked + .menu__btn .menu__icn::before {
    transform: rotate(135deg);
    top: 0;
}

.menu__checkbox:checked + .menu__btn .menu__icn::after {
    transform: rotate(-135deg);
    top: 0;
}

/*----------------*/
/* POPUP */
/*----------------*/
.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    background-color: rgba(255, 255, 255, 0.95);
    width: 70%;
    max-width: 80rem;
    border-radius: 1rem;
    position: absolute;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.popup__close:link,
.popup__close:visited {
    height: 3.8rem;
    color: #777;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 0.4;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 100rem;
    border: 2px solid #777;
    padding: 1rem;
}
.popup__close:hover {
    color: #9b42da;
    border: 2px solid #9b42da;
    box-shadow: 0 1rem 2rem rgba(155, 66, 218, 0.15);
}

.popup__close:active {
    box-shadow: 0 1rem 1rem rgba(155, 66, 218, 0.15);
}

/*----------------*/
/* CONTACT */
/*----------------*/
.contact {
    color: #777;
    padding: 6rem 0;

    display: grid;
    grid-template-columns: 1fr 70% 1fr;
}

.contact__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    caret-color: #9b42da;
    color: #777;
    font-weight: 300;
    opacity: 0.5;
    background-color: #fff;
}

.contact__input:focus {
    box-shadow: 0rem 0rem 0.5rem rgba(155, 66, 218, 0.45);
}

.name {
    grid-column: 2 / 3;
}

.email {
    grid-column: 2 / 3;
}

.message {
    grid-column: 2 / 3;
}

.submit {
    grid-column: 2 / 3;
    justify-self: center;
}

.contact__btn {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;

    background: #9b42da;
    color: #fff;
    width: 180px;
    padding: 1rem 0;
    border-radius: 3px;

    transition: all 0.3s;
}

.contact__btn:focus {
    outline: 0;
}

.contact__btn:hover {
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.35);
}

.contact__btn:active {
    transform: translateY(0.1rem);
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.25);
}

.contact label {
    display: block;
    width: 100%;
}

/*----------------*/
/* HELPER */
/*----------------*/
.mr {
    margin-right: 3rem;
}
.ml {
    margin-left: 8rem;
}
.mb {
    margin-bottom: 3rem;
}

/*----------------*/
/* MEDIA QUERIES */
/*----------------*/
/*----------------*/
@media only screen and (max-width: 1600px) {
    .nav {
        grid-column: 1 / 5;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .hero__subheading {
        max-width: 75%;
    }
}

@media only screen and (min-width: 1600px) {
    .hero {
        padding: 5% 10%;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .nav__menu {
        display: none;
    }

    .nav {
        grid-column: 1 / -1;
    }

    .hero__illustration--1,
    .hero__illustration--2 {
        width: 30rem;
    }

    .hero__heading {
        font-size: 3rem;
    }

    .hero__subheading {
        max-width: 75%;
    }

    .hero__button {
        width: 30rem;
        height: 6.2rem;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1020px) {
    .container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 30rem;
    }

    .hero__content {
        display: grid;
        justify-content: center;
        padding: 5rem 4rem;
        grid-column: 1 / -1;
    }

    .hero__illustration {
        padding: 4rem 4rem 0 4rem;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
    }

    .hero__heading {
        justify-self: center;
        text-align: center;
    }

    .hero__subheading {
        justify-self: center;
        max-width: 90%;
    }

    .hero__button {
        justify-self: center;
    }

    .hero__navigation {
        margin-left: -12rem;
        justify-self: center;
        align-self: flex-end;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .footer__social {
        justify-self: center;
        align-self: flex-end;
    }

    .footer__copy {
        justify-self: center;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 3rem;
    }

    .hero__content {
        padding: 3rem 0;
    }
}

@media only screen and (max-width: 590px) {
    .container {
        grid-template-columns: 1fr;
        padding: 3rem 1rem;
    }

    .hero__content {
        padding: 5rem 0;
    }
}

@media only screen and (max-width: 540px) {
    .hero__illustration {
        padding: 0;
    }

    .hero__heading {
        font-size: 2.6rem;
    }

    .hero__subheading {
        text-align: justify;
    }

    .hero__button {
        width: 27rem;
        height: 5.2rem;
        font-size: 1.2rem;
    }

    .hero__illustration--1,
    .hero__illustration--2 {
        width: 20rem;
    }
}
